//applications colors
$color-theme-main: #fafafa;
$color-theme-secondary: #ccc;
$color-theme-accent: #d2c726;

//fonts colors
$color-font-main: #333;
$color-font-secondary: #000;
$color-font-reverse: #fff;
