.full-screen {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .95);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;

  &__img {
    max-width: 1920px;
    max-height: 1080px;
    width: 60%;
    height: auto;
  }
}