@import "reset";

//Header
@import '../components/Header/Header';
@import '../components/Header/Nav//Nav';
@import '../components/Header/LogIn/LogIn';
@import '../components/Header/Search/Search';

//Catalog
@import "../components/Catalog/Catalog";

body {
  background: #fafafa;
  color: #fff;
  font-size: 16px;
}

a {
  text-decoration: none;
}