.search {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__input {
    width: 150px;
    border: 1px solid #000;
    border-radius: 3px;
    padding: 4px;
    font-size: .8rem;
  }

  &__button {
    border: none;
    background: transparent;
    padding: 3px 5px;       
  }
}